.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid rgb(206, 201, 201);
  width: 800px;
  height: 200px;
}

th {
  padding: 8px;
}

td {
  padding: 8px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 25px;

}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 3px solid rgb(22, 193, 199);
  color: rgb(136, 136, 136);
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.search {
  width: 100%;
  position: center;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #444747;
  border: 2px solid rgb(206, 201, 201);
}

.searchButton {
  width: 40px;
  height: 36px;
  text-align: center;
  color: rgb(181 177 177);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid rgb(206, 201, 201);
}

.wrap {
  width: 30%;
  margin-left: 7px;
  margin-bottom: 40px;
}

.title {
  margin-left: 9px;
}

.container {
  padding: 2px 16px;
}

.table-header {
  border: none;
  background-color: white;
  font-weight: bolder;
  font-size: large;
}

.style-cursor {
  cursor: pointer;
}

.style-font {
  font-weight: bold;
}

.style-button {
  border: none;
  background-color: white;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.style-span {
  margin-left: 10px;
  font-weight: bold;
}